/* EasyMon Light Color Scheme */


/* Application window, title bar, and border */
window,
popover > * { /* dropdown menu */
    background-color: #fafafa;
}
headerbar {
    background-color: #d5d5d5;
}
window > frame {
    border: 1px solid gray;
}

/* Inset effect for expander content and settings page. */
list,
#memoryBox grid {
    background-color: #ebebeb;
    box-shadow: -1px -1px 3px 1px gray;
}

/* Default text color */
headerbar,
expander, /* expander arrow buttons */
grid,
frame button label,
popover label {
    color: black;
}

/* buttons, switches, and detailed text styles. */
frame button,
popover > :first-child {
    color: #2b0b00;
}
switch {
    background-color: #9a0000;
}
switch > :last-child {
    background-color: #f3f3f3;
}
title {
    font-weight: bold;
}
#monitorBox .header,
#monitorBox list > row.header > grid > * {
    color: #d00000;
    font-weight: bold;
}
#settingsBox .units,
#cpuBox grid > :nth-child(4n-2),
#cpuBox grid > :nth-child(4n+1),
#cpuBox grid > :nth-child(4n+2) {
    color: alpha(#2b0b00, 0.6);
}
.footer {
    color: #005dd5;
}

