#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=EasyMon
Exec=easymon
Comment=System Monitor
Icon=easymon-icon
Terminal=false
StartupNotify=true
Categories=Utility;GTK;
